@import '~src/variables';

#wrapper{
    height: 100vh;
    @media(min-width: $md){
        align-items: center;
        display: flex;
        font-size: 1.5rem;
        justify-content: center;
    }
}

.big-box{
    button{
        display: block;
        margin: 0 auto;
    }
    @media(min-width: $md){
        background-color: $gris-claro;
        border-radius: 1em;
        box-shadow: .3em .3em .5em $main-theme-color;
        padding: 2em;
    }

}