// Colors
$main-theme-color: hsl(225, 20%, 30%);
$text-color:       hsl(0, 0%, 20%);
$light-gray:       hsl(0, 0%, 95%);
$med-gray:         darken($light-gray, 10%);
$dark-gray:        darken($light-gray, 20%);

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1901px;
