@import '../../variables';

#mapa{
    display: block;
    margin: 1rem auto;
    padding: 0;
    position: relative;
    max-width: 800px;
    width: 80%;
    .mx-edo{
        stroke: white;
        stroke-width: 3px;
        fill: $main-theme-color;
        transition: fill .4s;
        &:hover{
            cursor: pointer;
            fill: lighten($main-theme-color, 15%);
        }
    }
}

#etiqueta{
    bottom: 1em;
    color: $main-theme-color;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    left: 1em;
    position: absolute;
}