<header id="main-nav">
  <a id="header-link" routerLink="/"><i class="fab fa-connectdevelop"></i></a>
  <nav>
    <ul>
      <li><a routerLink="/">
        <i class="fas fa-home"></i>
        <span class="nav-label">Inicio</span>
      </a></li>
      <li><a routerLink="/">
        <i class="fas fa-university"></i>
        <span class="nav-label">Institutos</span>
      </a></li>
      <li><a routerLink="/">
        <i class="fas fa-users"></i>
        <span class="nav-label">Investigadores</span>
      </a></li>
      <li><a routerLink="/">
        <i class="fas fa-question"></i>
        <span class="nav-label">Acerca...</span>
      </a></li>
    </ul>
  </nav>
</header>