<header>
  <div id="main-nav">
    <a id="header-link" routerLink="/"><i class="fab fa-connectdevelop"></i></a>
    <nav>
      <ul>
        <li><a routerLink="/">
          <i class="fas fa-home"></i>
          <span class="nav-label">Inicio</span>
        </a></li>
        <li><a routerLink="/">
          <i class="fas fa-university"></i>
          <span class="nav-label">Institutos</span>
        </a></li>
        <li><a routerLink="/">
          <i class="fas fa-users"></i>
          <span class="nav-label">Investigadores</span>
        </a></li>
        <li><a routerLink="/">
          <i class="fas fa-question"></i>
          <span class="nav-label">Acerca...</span>
        </a></li>
      </ul>
    </nav>
  </div>
  <div id="contract-btn">
    <a href="#" (click)="toogleNav()">
      <i class="fas fa-caret-left"></i>
    </a>
  </div>
</header>

<div id="bars">
  <button type="button" id="bars-btn">
    <i class="fas fa-bars"></i>
  </button>
  <h1>
    <i class="fab fa-connectdevelop"></i>
    Redinv
  </h1>
</div>