<header [ngClass]="{'contracted': contracted, 'show': !contracted}">
  <div id="main-nav">
    <a id="header-link" routerLink="/"><i class="fab fa-connectdevelop"></i></a>
    <nav>
      <ul>
        <li *ngFor="let link of navLinks">
          <a routerLink="{{ link.route }}" (click)="toggleNav(true)">
            <i class="fas {{ link.icon }}"></i>
            <span class="nav-label">{{ link.text }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div id="contract-btn">
    <a href="#" (click)="toggleNav()">
      <i class="fas fa-caret-left"></i>
    </a>
  </div>
</header>

<div id="bars">
  <button type="button" id="bars-btn" (click)="toggleNav()">
    <i class="fas fa-bars"></i>
  </button>
  <h1>
    <a routerLink="/">
      <i class="fab fa-connectdevelop"></i>
      {{projectAcronym}}
    </a>
  </h1>
</div>