@import '~src/variables';

#app{
    display: block;
    @media(min-width: $md){
        display: flex;
        height: 100vh;
    }

    #app-main{
        box-sizing: border-box;
        margin-top: 4rem;
        overflow-y: scroll;
        width: 100%;
        @media (min-width: $md){
            margin-top: 0;
        }
    }
}