@import 'variables';
*{
    margin: 0;
    padding: 0;
}

html{
    background: url('assets/img/dust_scratches.png');
    color: $text-color;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: justify;
}

p{
    line-height: 1.3em;
    margin-bottom: 8pt;
}

h1, h2, h3, h4, h5, h6{
    color: $main-theme-color;
    margin-bottom: 8pt;
    text-align: left;
}

.form-control{
    background-color: $gris-claro;
    border: solid 1px $main-theme-color;
    border-radius: 5px;
    padding: .5rem 0.8rem;
    margin: 0 .3rem;
}

.btn{
    background-color: transparent;
    border: solid 2px $main-theme-color;
    border-radius: 5px;
    color: $main-theme-color;
    cursor: pointer;
    padding: .5rem;
    &:hover{
        background-color: lighten($main-theme-color, 5%);
    }
}

.hidden{
    display: none !important;
}
