@import 'variables';
*{
    margin: 0;
    padding: 0;
}

html{
    background: url('assets/img/dust_scratches.png');
    color: $text-color;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: justify;
}

p{
    line-height: 1.3em;
    margin-bottom: 8pt;
}

h1, h2, h3, h4, h5, h6{
    color: $main-theme-color;
    margin-bottom: 8pt;
    text-align: left;
}

.hidden{
    display: none !important;
}
